<a href="https://colab.research.google.com/github/krisalzugaray/bte320-python-destroyer/blob/main/Assignment_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **02/02 Class Exercise**

Design a game of rock, paper, scissors.

In [ ]:
import random
user_choice = (input("rock, paper, scissors: "))
pc_choice = random.choice(['rock', 'paper', 'scissors'])
print(f'PC chose: {pc_choice}')

if user_choice == pc_choice:
  print('tie')
elif user_choice == 'paper':
  if pc_choice == 'rock':
    print('user wins')
  else:
    print('pc wins')
elif user_choice == 'rock':
  if pc_choice == 'scissors':
    print('user wins')
  else:
    print('PC wins')
elif user_choice == 'scissors':
  if pc_choice == 'rock':
    print('user wins')
  else:
    print('PC wins')

rock, paper, scissors: rock
PC chose: paper
PC wins

# **02/07 Class Exercise**

`A parking garage charges $5 plus $2.50 for each hour parked. The minimum fee is $10 and the maximum fee is $20. Write a program that generates a table with hours parked and the corresponding fee, from 1 to 8 hours.`

`Processing: can use for and range() to handle repetition from 1 to 8 hours, and the calculation for fees.`

`Output: can use the print() function, within the repetition to display the results.`

In [ ]:
base_fee = 5
hourly_fee = 2.5
hour = 1
for hour in range(1,9,1):
    print(f'Hour: {hour}, Charge: ${round(base_fee+hourly_fee*hour)}')

Hour: 1, Charge: $8
Hour: 2, Charge: $10
Hour: 3, Charge: $12
Hour: 4, Charge: $15
Hour: 5, Charge: $18
Hour: 6, Charge: $20
Hour: 7, Charge: $22
Hour: 8, Charge: $25

In [ ]:
base_fee = 5
hourly_fee = 2.5
hour = 1

for hour in range(1,9,1):
  total_fee = (base_fee+hourly_fee*hour)
  if total_fee < 10:
    total_fee = 10
  elif total_fee > 20:
    total_fee = 20
  print(f'Hour: {hour}, Charge: ${round(total_fee)}')

Hour: 1, Charge: $10
Hour: 2, Charge: $10
Hour: 3, Charge: $12
Hour: 4, Charge: $15
Hour: 5, Charge: $18
Hour: 6, Charge: $20
Hour: 7, Charge: $20
Hour: 8, Charge: $20

# **02/12 Class Exercise**

`1st assignment starts today but will continue on throughout the semester. It is our job to create a portfolio of all of the coding projects we work on in class and for assignments.`

`Assignment #1: Create a free account on Github. Create your first repository.`


**02/12 Class Exercise**

*Design a calculator:*


*   The calculator once starts, cannot stop unless the user chooses to (hint: infinite loop).
*   Implement all numerical operators that we discussed (+, -, *, /, //, %, **).
*   The user has to provide the numbers and the desired operator from the keyboard; then, the calculator will display the result.
*   Numbers: int or float, operator: str.
*   The calculator stops if the user enters the word "break" instead of an operator, it skips an iteration if the user gives an operator that is not numerical (e.g., a boolean one).

Create a small statement for the break and then create a longer sequence with the if statements.

In [ ]:
while True:
  user_calculation = (input("Which calculation do you want to perform? Choose between +, -, /, //, %, and **: "))
  if user_calculation == 'break':
    break
    print("Thanks for playing!")

  x = float(input("Type in one number: "))
  y = float(input("Type in second number: "))

  if user_calculation == '+':
    user_calculation = x+y
    print(f'Calculation: {user_calculation}')
  elif user_calculation == '-':
    user_calculation = x-y
    print(f'Calculation: {user_calculation}')
  elif user_calculation == '/':
    user_calculation = x/y
    print(f'Calculation: {user_calculation}')
  elif user_calculation == '//':
    user_calculation = x//y
    print(f'Calculation: {user_calculation}')
  elif user_calculation == '%':
    user_calculation = x%y
    print(f'Calculation: {user_calculation}')
  elif user_calculation == '**':
    user_calculation = x**y
    print(f'Calculation: {user_calculation}')

Which calculation do you want to perform? Choose between +, -, /, //, %, and **: +
Type in one number: 350
Type in second number: 162
Calculation: 512.0
Which calculation do you want to perform? Choose between +, -, /, //, %, and **: break

# **02/21 Class Exercise**

In [ ]:
date = (input("Enter date (MM/DD/YYYY): "))

month = date[0:2]
day = date[3:5]
year = date[6:len(date)]

print(f'{month}')
print(f'{day}')
print(f'{year}')

Enter date (MM/DD/YYYY): 02/21/2024
02
21
2024

# **02/23 Class Exercise**

In [ ]:
s1 = 'abcdefg'
s2 = 'abdght'

for char in s1:
  if char in s2:
    print(char)

for index in range(len(s1)):
  if s1[index] in s2:
    print(s1[index])

a
b
d
g
a
b
d
g

# **02/28 Class Exercise**

`You have an empty list and the program asks the user an input from the keyboard. While this input is not 0, this number would be appended to this list and will happen repeatedly until the user gives 0. 0 is not apart of this list. `

In [ ]:
L = []
number = int(input('Enter a value: '))

while number != 0:
  L.append({number})
  number = int(input('Enter a value: '))

print(L)

Enter a value: 4
Enter a value: 3
Enter a value: 2
Enter a value: 0
[{4}, {3}, {2}]

# **03/04 Class Exercise**

`Use a for loop where each iteration, you use one of the numbers as a key and one of the names as a value.`

In [ ]:
months = {}

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

for i in range(len(numbers)):
    months[numbers[i]] = names[i]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

# **03/25 Class Exercise**

In [ ]:
def f(x):
  y = 1
  x = x + y
  print('x =', x)
  return x

x = 3
y = 2
z = f(x)
print('z = ', z)
print('x = ', x)
print('y = ', y)

x = 4
z =  4
x =  3
y =  2

# **04/03 Class Exercise**

`1. Define a recursive function that calculates the factorial of a number:`

In [ ]:
#Example without recursion
def fact(n):
  p = 1
  while n >= 1:
    p = p * n
    n = n - 1
  return p

fact(5)

120

In [ ]:
#Example with recursion
def recursive_factorial(n):
  if n == 1:
    return(n)
  else:
    return n * recursive_factorial(n-1)

print(recursive_factorial(5))

120

`2. Define a function that takes as an input any string and returns the string reversed:`

In [ ]:
def reverse_string(s):
    if len(s) == 1:
        return s
    else:
        return reverse_string(s[1:]) + s[0]

user_input = input('Enter a string: ')
reversed_string = reverse_string(user_input)
print(reversed_string)

Enter a string: Hello
olleH

# **04/19 Class Exercise**

**Example:** fixed rate monthly mortgage

**Properties:**

*   Initial loan amount ($)
*   Term to maturity (years)
*   Fixed annual interest rate (%)

**Specific example:**

*   $100,000 30 year 6%

**Calculation:** how much is the monthly payment?
*   M = B[r(1+r)^n]/[(1+r)^n-1], where B = amount, n = maturity * 12, and r = interest/100

In [ ]:
class Mortgage:
  def __init__(self, amount, maturity, interest): #Defines the constructor using standard name (__int__)
    self.amount = amount                          #Here, we are initializing the attributes within the class (always begin with "self.(attribute)")
    self.maturity = maturity
    self.__interest = interest                    #The inclusion of "__" makes this attribute PRIVATE, instead of public (which is by default)

#We can allow indirect access to attribute values where we place constraints on them
  def get_interest(self):                         #Only takes the "self" parameter - nothing else
    return self.interest

  def set_interest(self, newInterest):            #Used to update the value of an attribute. Requires at least 1 external input
    if newInterest >= 0:
      self.interest = newInterest
    else:
      print('Interest must be non-negative!')

  def payment(self):
    B = self.amount
    n = self.maturity * 12
    r = self.interest / 100

    return B * (r * (1+r) ** n) / ((1 + r) ** n - 1)

  def __str__(self):
    return f'Mortgage info: \n Initial loan amount: {self.amount} \n Maturity term: {self.maturity} \n Interest rate: {self.__interest}%'

In [ ]:
m = Mortgage(100000, 30, 6)                       #Creating the instance using the values from the question

In [ ]:
print(m)

Mortgage info:
 Initial loan amount: 100000
 Maturity term: 30
 Interest rate: 6%

In [ ]:
m.payment()                                       #The big cube are for the methods and the small cubes are for the attributes (when you hover)

6000.000004656286

In [ ]:
m.set_interest(-5)

Interest must be non-negative!

# **Class Point Exercise**

In [1]:
import math

class Point:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def distance(self, other):
    x_diff = (self.x - other.x) ** 2
    y_diff = (self.y - other.y) ** 2
    return (x_diff + y_diff) ** 0.5

class Point3D(Point):
  def __init__(self, x, y, z):
    super().__init__(x, y)
    self.z = z

  def distance(self, other):
    x_diff = (self.x - other.x) ** 2
    y_diff = (self.y - other.y) ** 2
    z_diff = (self.z - other.z) ** 2
    return (x_diff + y_diff + z_diff) ** 0.5

#Distance in 2-dimensional space
p1 = Point(3,4)
p2 = Point(6,8)
print(p1.distance(p2))

#Distance in 3-dimensional space
p3d_1 = Point3D(3,4,5)
p3d_2 = Point3D(6,8,10)
print(p3d_1.distance(p3d_2))

5.0
7.0710678118654755

# **Deposit with Interest Rates Exercise**

In [2]:
name = input('Enter your name: ')
customer_type = input('Enter customer type (n:new, e:existing): ')
deposit = float(input("Enter deposit amount (in $): "))

if customer_type == 'n':
  interest = 0.03
else:
  if deposit <= 1000:
    interest = 0.03
  elif deposit <= 10000:
    interest = 0.0325
  elif deposit > 10000:
    interest = 0.035

total = (1 + interest) * deposit
print(total)

Enter your name: Kristina
Enter customer type (n:new, e:existing): new
Enter deposit amount (in $): 5000
5162.5

# **Leap Year Exercise**

In [3]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print(f"{year} is a leap year!")
else:
  print(f"{year} is not a leap year.")

Enter a year: 1980
1980 is a leap year!

# **Mirror Word Exercise**

In [5]:
def mirrorString(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + mirrorString(s[:-1])

mirrorString("string")

'gnirts'

# **Try/Except Exercise**

In [7]:
def average(alist):
  try:
    return sum(alist) / len(alist)
  except ZeroDivisionError:
    print('The list is empty!')
    return[]
  except TypeError:
    print('The list must be numeric-only')
    return float('nan')
  except NameError:
    print()

a = average([])
print(a)

The list is empty!
[]